@using MyDiplomProject.Models
@model Profil
<li id="navigate-item-user" class="navigate-item-user">
    <p id="navigate-item-user-p">@Model.FirstName @Model.LastName</p>
</li>
<li id="user-image" class="navigate-item user-image">
    <a class="navigation-link" href="#"><img src="@Model.image" height="100%" alt="..."></a>
</li>