
@{
    ViewBag.Title = "Сообщения";
}
      
            <div class="message">
                <div class="left-message">
                    <button class="add-group">Добавить диалог</button>
                    <div class="groups"></div>
                </div>
                <div class="right-message">
                    @Html.Action("Messages", "Message")
                </div>
            </div>

        



